@import './variable.styl'

.color1{
	color:$primary;
}

.color2{
	color :#ff6d59;
}

.cf{
	color: #fff;
}

.col9{
	color #999;
}

.bw{
	background-color #fff;
}

.bgc1{
	background-color :$primary;
}

.tap:active {
    background-color: #fff9f5;
}

.btn_tap:active {
    background: $primaryActive;
}