@import './variable.styl'

.color1{
	color:$primary;
}

.color2{
	color :#ff6d59;
}

.color3{
	color :#0d6db7;
}

.color4{
	color:#58b3ae;
}

.color5{
	color:#03c161;
}

.color6{
	color:#3768f5;
}

.color7{
	color:#ff3359;
}

.cf{
	color: #fff;
}

.col3{
	color:#333;
}

.col6{
	color:#666;
}

.col9{
	color:#999;
}

.bw{
	background-color:#fff;
}

.bgc1{
	background-color :$primary;
}

.bgc2{
	background-color:#ff6d59;
}

.bgc3{
	background-color:#0d6db7;
}

.bgc4{
	background-color:#00baae;
}

.tap:active {
    background-color: #fff9f5;
}

.btn_tap:active {
    background: $primaryActive;
}