.mt1 {
    margin-top: 1px;
}


.mt24 {
    margin-top: 24upx;
}

.mr24 {
    margin-right: 24upx;
}

.ml24 {
    margin-left: 24upx;
}

.pt24 {
    padding-top: 24upx;
}

.pr24 {
    padding-right: 24upx;
}

.pb24 {
    padding-bottom: 24upx;
}

.pl24 {
    padding-left: 24upx;
}

.pt88 {
    padding-top: 88upx;
}

.mlr24 {
    margin-left: 24upx;
    margin-right: 24upx;
}

.ptb24 {
    padding-top: 24upx;
    padding-bottom: 24upx;
}

.plr24 {
    padding-left: 24upx;
    padding-right: 24upx;
}

for $i in 1..20
  .mt{$i*10}
    margin-top: $i * 10upx
		
for $i in 1..20
  .pt{$i*10}
	  padding-top: $i * 10upx
		
for $i in 1..20
	.pb{$i*10}
		padding-bottom: $i * 10upx
		
for $i in 1..10
	.pl{$i*10}
		padding-left: $i * 10upx
		
for $i in 1..20
	.mb{$i*10}
		margin-bottom: $i * 10upx
		
for $i in 1..10
	.ml{$i*10}
		margin-left: $i * 10upx
		
for $i in 1..10
	.mlr{$i*10}
		margin-left: $i * 10upx
		margin-right: $i * 10upx
		
for $i in 1..10
	.ptb{$i*10}
		padding-top: $i * 10upx
		padding-bottom: $i * 10upx
		
for $i in 1..10
	.plr{$i*10}
		padding-left: $i * 10upx
		padding-right: $i * 10upx

.mtb20{
	margin-top: 20upx;
	margin-bottom: 20upx;
}

.mtb80 {
    margin-top: 80upx;
    margin-bottom: 80upx;
}


.mr10 {
    margin-right: 10upx;
}

.mr20 {
    margin-right: 20upx;
}

.pr10 {
    padding-right: 10upx;
}

.pr20 {
    padding-right: 20upx;
}

.pr30 {
    padding-right: 30upx;
}

.p20 {
    padding: 20upx;
}

.p24 {
    padding: 24upx;
}

.p30 {
    padding: 30upx;
}

.p40 {
    padding: 40upx;
}






