.mt1 {
    margin-top: 1px;
}

.mt24 {
    margin-top: 24upx;
}

.pt24 {
    padding-top: 24upx;
}


.pt88 {
    padding-top: 88upx;
}

for $i in 1..20
  .mt{$i*10}
    margin-top: $i * 10upx
	.pt{$i*10}
		padding-top: $i * 10upx
	.mb{$i*10}
		margin-bottom: $i * 10upx

.mtb80 {
    margin-top: 80upx;
    margin-bottom: 80upx;
}

.ml10 {
    margin-left: 10upx;
}

.ml20 {
    margin-left: 20upx;
}

.ml24 {
    margin-left: 24upx;
}

.ml30 {
    margin-left: 30upx;
}

.ml40 {
    margin-left: 40upx;
}

.ml50 {
    margin-left: 50upx;
}

.ml60 {
    margin-left: 60upx;
}

.ml70 {
    margin-left: 70upx;
}

.ml90 {
    margin-left: 90upx;
}

.mr10 {
    margin-right: 10upx;
}

.mr20 {
    margin-right: 20upx;
}

.mr24 {
    margin-right: 24upx;
}

.mlr10 {
    margin-left: 10upx;
    margin-right: 10upx;
}

.mlr20 {
    margin-left: 20upx;
    margin-right: 20upx;
}

.mlr24 {
    margin-left: 24upx;
    margin-right: 24upx;
}

.mlr30 {
    margin-left: 30upx;
    margin-right: 30upx;
}

.mlr40 {
    margin-left: 40upx;
    margin-right: 40upx;
}

.pl10 {
    padding-left: 10upx;
}

.pl20 {
    padding-left: 20upx;
}

.pl24 {
    padding-left: 24upx;
}

.pl40 {
    padding-left: 40upx;
}

.pr24 {
    padding-right: 24upx;
}

.pl30 {
    padding-left: 30upx;
}

.pl50 {
    padding-left: 50upx;
}

.pl60 {
    padding-left: 60upx;
}

.pl70 {
    padding-left: 70upx;
}

.pl90 {
    padding-left: 90upx;
}

.pr10 {
    padding-right: 10upx;
}

.pr20 {
    padding-right: 20upx;
}

.pr30 {
    padding-right: 30upx;
}

.pr88 {
    padding-right: 88upx;
}

.plr10 {
    padding-left: 10upx;
    padding-right: 10upx;
}

.plr16 {
    padding-left: 16upx;
    padding-right: 16upx;
}

.plr20 {
    padding-left: 20upx;
    padding-right: 20upx;
}

.plr24 {
    padding-left: 24upx;
    padding-right: 24upx;
}

.plr30 {
    padding-left: 30upx;
    padding-right: 30upx;
}

.plr40 {
    padding-left: 40upx;
    padding-right: 40upx;
}

.plr50 {
    padding-left: 50upx;
    padding-right: 50upx;
}

.plr60 {
    padding-left: 60upx;
    padding-right: 60upx;
}

.plr70 {
    padding-left: 70upx;
    padding-right: 70upx;
}

.plr80 {
    padding-left: 80upx;
    padding-right: 80upx;
}

.plr100 {
    padding-left: 100upx;
    padding-right: 100upx;
}

.plr130 {
    padding-left: 130upx;
    padding-right: 130upx;
}

.pb10 {
    padding-bottom: 10upx;
}

.pb20 {
    padding-bottom: 20upx;
}

.pb24 {
    padding-bottom: 24upx;
}

.pb30 {
    padding-bottom: 30upx;
}

.pb40 {
    padding-bottom: 40upx;
}

.pb50 {
    padding-bottom: 50upx;
}

.pb100 {
    padding-bottom: 100upx;
}

.pb110 {
    padding-bottom: 110upx;
}

.pb120 {
    padding-bottom: 120upx;
}

.pb130 {
    padding-bottom: 130upx;
}

.ptb10 {
    padding-top: 10upx;
    padding-bottom: 10upx;
}

.ptb20 {
    padding-top: 20upx;
    padding-bottom: 20upx;
}

.ptb24 {
    padding-top: 24upx;
    padding-bottom: 24upx;
}

.ptb30 {
    padding-top: 30upx;
    padding-bottom: 30upx;
}

.ptb40 {
    padding-top: 50upx;
    padding-bottom: 50upx;
}

.ptb50 {
    padding-top: 50upx;
    padding-bottom: 50upx;
}

.ptb60 {
    padding-top: 60upx;
    padding-bottom: 60upx;
}

.ptb70 {
    padding-top: 70upx;
    padding-bottom: 70upx;
}

.ptb80 {
    padding-top: 80upx;
    padding-bottom: 80upx;
}

.ptb90 {
    padding-top: 90upx;
    padding-bottom: 90upx;
}

.ptb100 {
    padding-top: 100upx;
    padding-bottom: 100upx;
}

.p20 {
    padding: 20upx;
}

.p24 {
    padding: 24upx;
}

.p30 {
    padding: 30upx;
}

.p40 {
    padding: 40upx;
}






