.w100 {
    width: 100upx;
}

.w130 {
    width: 130upx;
}

.w160 {
    width: 160upx;
}

.w180 {
    width: 180upx;
}

.w200 {
    width: 200upx;
}

.w240 {
    width: 240upx;
}

.pw0 {
    width: 0%;
}

.pw50 {
    width: 50%;
}

.pw100 {
    width: 100%;
}

for $i in 1..20
  .h{$i*10}
    height: $i * 10upx
		
for $i in 4..20
	.lh{$i*10}
		line-height: $i * 10upx

.ph100 {
    height: 100%;
}
.mh100{
	min-height:100upx;
}
